*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: AlegreyaSans-Regular;
    src: url(fonts/AlegreyaSans-Regular.ttf);
}

@font-face {
    font-family: AlegreyaSans-ExtraBold;
    src: url(fonts/AlegreyaSans-ExtraBold.ttf);
}

@font-face {
    font-family: AlegreyaSans-Medium;
    src: url(fonts/AlegreyaSans-Medium.ttf);
}

@font-face {
    font-family: DarkerGrotesque-Light;
    src: url(fonts/DarkerGrotesque-Light.ttf);
}

@font-face {
    font-family: DarkerGrotesque-Medium;
    src: url(fonts/DarkerGrotesque-Medium.ttf);
}

header {
    position: fixed;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

input {
    display: none;
}

header label {
    display: none;
}

#menu {
    display: flex;
    margin: 24px 64px;
    align-items: center;
    justify-content:space-between;
    font-family: AlegreyaSans-Regular;
    font-size: 1.75rem;
}

#menu ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
}

#menu li{
    display: block;
    margin-left: 60px;
}

#menu a {
    padding: 4px;
}

#menu a:hover {
    border: 1px solid;
    border-radius: 2px;
}

#menu a:active {
    color: #3B3B3B;
    border-color: black;
}


#container {
    width: 100%;
    margin: 0 auto;
    max-width: 125rem;
    display: grid;
    /* grid-template-rows: repeat(5, auto); */
}


#first {
    /* grid-row: 1 / 1; */
    background-image: url(../images/inicio.png);
    background-size: 100vw 110vh;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-text {
    margin: 1.2rem auto;
    text-align: center;
}

.text-center {
    text-align: center;
}

#first h1 {
    font-family: AlegreyaSans-ExtraBold;
    font-size: 2.5em;
}

#first h2 {
    font-weight: normal;
    font-family: AlegreyaSans-Regular;
    font-size: 2.5em;
}

.mobile {
    display: none;
}

.btn {
    font-family: AlegreyaSans-Regular;
    font-size: 2.2rem;

    display: block;
    justify-content: center;
    padding: .8rem 2.1rem;

    border: 1px solid;
    border-radius: 6px;
}

.subtitle {
    font-family: AlegreyaSans-Medium;
    font-weight: normal;
    font-size: 2.6rem;
    
}

#location {
    grid-row: 2 / 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8em 4em;
}

#map {
    width: 51em;
    height: 30em;
    border: none;
    
}

#work {
    margin: 0 4em;
    display: grid;
    grid-template-columns: repeat(2, fr);
    grid-template-rows: repeat(3, auto);
    grid-auto-columns: 1fr;
    column-gap: 1.5em;
    row-gap: 1.5em;
}

#work h2 {
    grid-column: 1 / 3;
    grid-row: 1 / 1;
    margin: 0 auto;
}

.image-block h3 {
    font-family: DarkerGrotesque-Medium;
    font-weight: normal;
    font-size: 2.5em;
    color: white;
    text-align: center;

    background-color: #1E1E1E;
    border-radius: 4px 4px 0 0;
    padding: .5em 0;
}

.image-block img {
    width: 100%;
    
    border-radius: 0 0 4px 4px;
} 

#buttons {
    margin: 6.25em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#buttons h2 {
    margin: 10% auto;
    font-family: DarkerGrotesque-Light;
    font-size: 2.6rem;
}

footer {
    background-color: black;
    height: 15rem;
    display: flex;
    padding: 0 64px 70px;
    justify-content: space-between;
    align-items: flex-end;
}

#foot-text {
    font-family: DarkerGrotesque-Light;
    font-size: 2rem;
    color: white;
}

footer img {
    height: 70px;
    width: 180px;
}

@media (max-width:768px) {

    header label {
        display: block;
        margin: 24px 0 0 24px;
    }

    #logo {
        display: none;
    }

    #menu ul {
        flex-direction: column;
        background-color: white;
        border: 1px solid;
    }

    #menu li {
        margin-left: 0;
    }

    #menu {
        position: absolute;
        flex-direction: column;
        margin-left: -70%;
    }

    #btn-menu:checked ~ #menu {
        margin: 24px 0 0 24px;
    }

    #container {
        width: 100%;
        margin: 0 auto;
        display: grid;
    }

    #first {
        background-image: url(../images/inicio-mobile.jpg);
        background-size: 100vw 100vh;
        height: 100vh;
        padding-top: 5vh;
    }

    .first-text {
        margin: 1.5rem;
    }

    .screen {
        display: none;
    }
    
    .mobile {
        display: block;
        text-align: center;
        font-size: 1.5rem;
    }

    #first h1 {
        margin: 1.2em 0 0;
        font-size: 3em;
    }

    .btn {
        font-size: 2rem;
        margin: .2rem auto;
        padding: .7rem 1.9rem;
    }

    #location {
        display: flex;
        flex-direction: column;
        margin: 2em 24px 24px;
    }

    #location .location-component {
        width: 100%;
        margin-top: 2em;
    }

    #work {
        margin: 0 24px;
        display: flex;
        flex-direction: column;
    }
    
    #work h2 {
        margin: 3.2rem auto 2rem;
    }
    
    .image-block h3 {
        font-size: 1.8em;
        line-height: 1.7rem;
        padding: .5em 0;
    }
    
    #buttons {
        margin: 4rem 24px;
    }
    
    #mobile-btn {
        font-size: 1.8rem;
    }

    footer {
        height: 25rem;
        display: flex;
        padding: 0 24px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    #foot-text {
        font-size: 1.8rem;
        text-align: center;
    }
    
    footer img {
        margin-top: 2rem;
        height: 70px;
        width: 180px;
    }

    .white{
        background-color: transparent;
    }
}

.white{
    background-color: rgba(255, 255, 255, .8);

  }
