*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: AlegreyaSans-Regular;
    src: url(fonts/AlegreyaSans-Regular.ttf);
}

@font-face {
    font-family: AlegreyaSans-ExtraBold;
    src: url(fonts/AlegreyaSans-ExtraBold.ttf);
}

@font-face {
    font-family: AlegreyaSans-Medium;
    src: url(fonts/AlegreyaSans-Medium.ttf);
}

@font-face {
    font-family: DarkerGrotesque-Light;
    src: url(fonts/DarkerGrotesque-Light.ttf);
}

@font-face {
    font-family: DarkerGrotesque-Medium;
    src: url(fonts/DarkerGrotesque-Medium.ttf);
}

header {
    position: fixed;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

input {
    display: none;
}

header label {
    display: none;
}

#menu {
    display: flex;
    margin: 24px 64px;
    align-items: center;
    justify-content:space-between;
    font-family: AlegreyaSans-Regular;
    font-size: 1.75rem;
}

#menu ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
}

#menu li{
    display: block;
    margin: 1px 1px 1px 60px;
}

#menu a {
    padding: 4px;
}

#menu li:hover {
    margin: 0px 0px 0px 59px;
    border: 1px solid;
    border-radius: 2px;
}

#menu .whitout-rec:hover{
    border: 3px;
    border-radius: 3px;
}

#menu a:active {
    color: #3B3B3B;
    border-color: black;
}


#container {
    width: 100%;
    margin: 0 auto;
    max-width: 125rem;
    display: grid;
}


#first {
    background-image: url(../images/inicio.png);
    background-size: 100vw 110vh;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-text {
    margin: 1.2rem auto;
    text-align: center;
}

.text-center {
    text-align: center;
}

#first h1 {
    font-family: AlegreyaSans-ExtraBold;
    font-size: 2.5em;
}

#first h2 {
    font-weight: normal;
    font-family: AlegreyaSans-Regular;
    font-size: 2.5em;
}

.mobile {
    display: none;
}

.btn {
    font-family: AlegreyaSans-Regular;
    font-size: 2.2rem;

    display: block;
    justify-content: center;
    padding: .8rem 2.1rem;

    border: 1px solid ;
    border-radius: 6px;
}

.btn-m:link,
.btn-m:visited {
    transition: all .2s;
}

.btn-m:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-animation {
    
    font-family: AlegreyaSans-Regular;
    font-size: 2.2rem;
    transition: all 1550ms cubic-bezier(0.19, 1, 0.22, 1);
    display: block;
    justify-content: center;
    padding: .8rem 2.1rem;
    border: 1px solid ;
    border-radius: 6px;
    }

.btn-animation:hover {
    background-color: rgba(219, 219, 219, 0.986);
    }

.subtitle {
    font-family: AlegreyaSans-Medium;
    font-weight: normal;
    font-size: 2.6rem;
    
}

#location {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8em 4em;
}

#map {
    width: 70vw;
    height: 55vh;
    border: none;
}

#work {
    /* margin: 0px 4em; */
    display: flex;
    flex-direction: column;
}

#work h2 {
    margin: 1em auto;
}

#slider-container {

  display: flex;
  align-items: center;
  justify-content: center;
}

.image-block h3 {
    font-family: DarkerGrotesque-Medium;
    font-weight: normal;
    font-size: 2.5em;
    color: white;
    text-align: center;

    background-color: #1E1E1E;
    border-radius: 4px 4px 0 0;
    padding: .5em 0;
}

.image-block img {
  width: 100%;
  border-radius: 0 0 4px 4px;
  height: calc( .58 * 58vw);
} 

.image-block {

  width: 58vw;

}

.arrows {
  height: 80px;
  width: 80px;
  transition: .3s;
  margin: 0 40px;
  position: relative;
}

.arrows:hover {
  height: 100px;
  width: 80px;
}

#buttons {
    margin: 6.25em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#buttons h2 {
    margin: 10% auto;
    font-family: DarkerGrotesque-Light;
    font-size: 2.6rem;
}

footer {
    background-color: black;
    height: 15rem;
    display: flex;
    padding: 0 64px 70px;
    justify-content: space-between;
    align-items: flex-end;
}

#foot-text {
    font-family: DarkerGrotesque-Light;
    font-size: 2rem;
    color: white;
}

footer img {
    height: 70px;
    width: 180px;
}

@media (max-width:1024px) {

    #location {
        display: flex;
        flex-direction: column;
        margin: 2em 24px 24px;
    }

    #location .location-component {
	width: 100%;
	margin-top: 2em;
    }
}

@media (max-width:768px) {

    header label {
        display: block;
        margin: 24px 0 0 24px;
    }

    #logo {
        display: none;
    }

    #menu ul {
        flex-direction: column;
        background-color: white;
        border: 1px solid;
    }

    #menu li {
        margin-left: 0;
    }

    #menu {
        position: absolute;
        flex-direction: column;
        margin-left: -70%;
    }

    #btn-menu:checked ~ #menu {
        margin: 24px 0 0 24px;
    }

    #container {
        width: 100%;
        margin: 0 auto;
        display: grid;
    }

    #first {
        background-image: url(../images/inicio-mobile.jpg);
        background-size: 100vw 100vh;
        height: 100vh;
        padding-top: 5vh;
    }

    .first-text {
        margin: 1.5rem;
    }

    .screen {
        display: none;
    }
    
    .mobile {
        display: block;
        text-align: center;
        font-size: 1.5rem;
    }

    #first h1 {
        margin: 1.2em 0 0;
        font-size: 3em;
    }

    .btn {
        font-size: 2rem;
        margin: .2rem auto;
        padding: .7rem 1.9rem;
    }

    #work {
        margin: 0 ;
        display: flex;
        flex-direction: column;
    }
    
    #work h2 {
        margin: 3.2rem auto 2rem;
    }

    #slider-container {
      position: relative;
    }

    .image-block {
      width: 100%;
      height: 100%;
    }

    .image-block h3 {
      font-size: 1.6em;
      line-height: 1.7rem;
      padding: .5em 0;
      border-radius: 0;
    }

    .image-block img{
      width: 100%;
      height: calc(100vw * .74);
    }

    .arrows {
      height: 40px;
      width: 40px;
      transition: .3s;
      position: absolute;
      margin: 32px 0 0;
    }

    .arrows:hover {
      height: 44px;
      width: 40px;
    }

    #left-arrow {
      left: 0;
    }

    #left-arrow:hover {
      margin-top: 34px;
    }

    #right-arrow {
      right: 0;
    }

    #right-arrow:hover {
      margin-top: 34px;
    }

    #buttons {
        margin: 4rem 24px;
    }
    
    #mobile-btn {
        font-size: 1.8rem;
    }

    footer {
        height: 25rem;
        /* display: flex; */
        padding: 0 24px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    #foot-text {
        font-size: 1.6rem;
        text-align: center;
    }
    
    footer img {
        margin-top: 2rem;
        height: 70px;
        width: 180px;
    }

    .white{
        background-color: transparent;
    }
}

.white{
    background-color: rgba(255, 255, 255, .8);

  }

html{
    scroll-behavior: smooth;
}
